<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='./stylesheet/main.css'>
    <link rel="icon" type="image/x-icon" href="./images/icons8-movie-48.png">
</head>

<body>
    <div class="hero">

        <div class="box"></div>

        <nav class="nav">
            <span> BootMovies </span>
            <header>
                <form id="form">
                    <input type="text" placeholder="Search" id="search" class="search">
                </form>
            </header>

            <div id="user-section">
                <% if (username) { %>
                    <a href="/profile">
                        <img src="<%= profilePicture %>" alt="Profile" class="profile-pic">
                    </a>

                    <% } else { %>
                        <a href="/login"> <button> Sign In </button> </a>
                        <% } %>
            </div>
        </nav>

    </div>

    <div class="fill">
        <span>Unlimited movies, TV shows, and more</span>
        <span>Watch anywhere</span>
        
        <% if (!token || !tokenHasExpired) { %>
            <span>This is a 30 days free trial.</span>
        <% } %>
    </div>
    
    

    <div class="sepration"> </div>

    <div id="tags"></div>
    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content" id="overlay-content"></div>

        <a href="javascript:void(0)" class="arrow left-arrow" id="left-arrow">&#8656;</a>

        <a href="javascript:void(0)" class="arrow right-arrow" id="right-arrow">&#8658;</a>

    </div>
    <main id="main"></main>
    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>

    </div>

    <div class="sepration"></div>

    <script src="./javascript/script.js"> </script>
</body>

</html>